[Unit]
Description=rust-snmp-collector all configs combined
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
DynamicUser=yes
EnvironmentFile=/etc/rust-snmp-collector/environment
ExecStart=/usr/bin/rust-snmp-collector run

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

